.jumbotron {
  margin-top: 50px;
  background-color: #ffffff;
  border: solid red 2px;
  padding-top: 20px;
}
.jumbotron h2 {
  padding-top: 150px;
  padding-left: 400px;
  color: red;
  font-size: 50px;
  font-family: fantasy;
  font-style: italic;
}
.emphasis {
  font-style: italic;
  text-decoration: underline;
}
.btn {
  background-color: red;
}
.stagedReveal {
  display: none;
}
.heading {
  color: red;
  text-decoration: underline;
}
.framed {
  border: solid red 2px;
  border-radius: 6px;
  padding: 25px;
  color: red;
  margin-top: 50px;
}
.addressText h4 {
  padding-left: 150px;
}
#logo {
  float: left;
}
#totalDiv {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}
